<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="/css/styles.css"><link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet"></head>
<body>
<h1 id=head1 >Wishing Well</h1> 
<h1 id=head2>Biographies and Memoriams</h1> 
<div class ="topnav">
  <a href="./index.erb" style="float:center">Home</a>
  <a href="./information.erb" style="float:center">Information</a>
  <a href="./bio.erb" style="float:center">Biographies</a>
  <a href="./donate.erb" style="float:center">Donate</a>
  </div>
  <h3 id=biocenter><p>Bellow is a collection of survivors' stories and those who fought and will never be forgotten:</h3><br></br></p>
  <p><h3=biofont>
    <h3 id=ronanfds>Ronan Thompson</h3> 
    <br></br>
    <h3 id=asdf></p>Ronan was diagnosed with Neuroblastoma in August of 2010. He underwent surgery to remove the tumor behind 
    his eye, followed by 5 rounds of chemotherapy in his home state of Arizona. Ronan was moved to Memorial Sloan Kettering 
    Cancer Center, in NYC to have another surgery to remove a tumor in his abdomin. The new protocal Ronan was transfered to had 
    the little warrior continue ratiation and the high dose of chemotherapy. In April of 2011, the cancer was no longer responding
    to treatment. Ronan ended his battle on May 9th, 2011. He died fighting and with those who love him by his side. Ronan lives 
    on through his family and the foundation created in his honor. 
    Donate <a href="https://ronanfoundation.org">here</a>.</p></h3>
    
    <br></br>
    <center><img  id=pics src="https://ronanfoundation.org/assets/img/main/ronan3.jpg" alt= "Ronan"></img></center>
<br></br>
  </h3>
  
   <h3 id=ronanfds>Hannah Komai</h3>
   
    <br></br>
    <h3 id=asdf></p> Hannah, at the young age of 20, was diagnosed with bone cancer. After recieving 15 weeks of chemotherapy,
    she underwent surgery to remove cancerous bones. 
    Hannah was cancer free months later. She then started intense physical therapy.
    This journey encouraged Hannah to attend nursing school. She is now working at City of Hope as a registered nurse.
    Donate <a href="https://secure3.convio.net/coh/site/Donation2;jsessionid=00000000.app322b?df_id=1800&1800.donation=form1&NONCE_TOKEN=B83FC22B0407E57230418DD4AE600463">here</a>.</p></h3>
  <br></br>
    <center><img  id=pics src="https://www.cityofhope.org/image/hannah.jpg" alt= "Hannah"></img></center>
<br></br>
  
<br> </br> <br> </br> <br> </br> <br> </br> <br> </br> <br> </br> <br> 
  <p> some stories and pictures courtesty of:<a href="https://www.cityofhope.org/"> City of Hope</a></p>
  <p>Created By: Eliza Turco & Peyton Holubeck</p>
  </body>
  </html>