<!DOCTYPE html>
<html>
<head><link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet"><link rel="stylesheet" type="text/css" href="/css/styles.css"></head>
<body>
<h1 id=head1 >Wishing Well</h1> 
<h1 id=head2> Donate</h1> 

  
</head>
<body>

<div class ="topnav">
  <a href="./index.erb" style="float:center">Home</a>
  <a href="./information.erb" style="float:center">Information</a>
  <a href="./bio.erb" style="float:center">Biographies</a>
  <a href="./donate.erb" style="float:center">Donate</a>
  </div>

 <br> <br>
  <h3><strong>St. Judes Research Hospital</strong></h3>
  <p id="links"><a href="https://www.stjude.org/donate/donate-to-st-jude.html?sc_icid=header-btn-donate-now"> Donate Now!</a></p>
  
  <br> 
  
    <h3><strong>The Ronan Thompson Foundation</strong></h3>
  <p id="links"><a href="https://ronanfoundation.org/"> Donate Now!</a></p> 
  
  <br> 
  
  
  <h3 id="ts"><strong> Children's Miracle Center</strong></h3>
  <p id="links"><a href="https://www.childrensomaha.org/donate-now1"> Donate Now!</a></p> 
  
  <br>
  
  <h3 id="ts"><strong> Lung Cancer Research</strong></h3>
  <p id="links"><a href="https://donate.lungcancerresearchfoundation.org"> Donate Now!</a></p> 
  
  <br>
  
  <h3 id="ts"><strong>Stand Up to Cancer</strong></h3>
  <p id="links"><a href="https://secure.eifoundation.org/site/SPageServer/?pagename=su2c_donate"> Donate Now!</a></p> 

<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
<p>Created By: Eliza Turco & Peyton Holubeck</p>
<br> 
</body>
</html>