<!DOCTYPE html>
<html>
<head><link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet"><link rel="stylesheet" type="text/css" href="/css/styles.css"></head>
</head>
<body id=homebody>
<h1 id=head1 >Welcome to Wishing    Well</h1> 
</head>
<body>

<div class ="topnav">
  <a href="./index.erb" style="float:center">Home</a>
  <a href="./information.erb" style="float:center">Information</a>
  <a href="./bio.erb" style="float:center">Biographies</a>
  <a href="./donate.erb" style="float:center">Donate</a>
  </div>
  <h3 id=mission><strong>Mission</strong>:</h3><h4>We strive to connect cancer benefactors, survivors, and foundations together in
  a harmonious way. As well as informing the public on types of diseases they would like to know more about.</h4>
  <br> </br>
  <h3 id=mission><strong>Website Founding</strong>:</h3><h4>As big Karlie Kloss fans and scholars, 
  Peyton and I could not help but apply for Kode with Klossy. Kode with Klossy is a two week summer program that empowers young
  girls to enhance their coding skills.<br> The last days of camp are dedicated to creating our own web app. When brainstorming
  ideas the betterment of our community fueled us. Peyton, a cancer survivor, was immediatly passionate to create Wishing
  Well.<br> So... here we are</h4>
  
  <center><img src="https://files.slack.com/files-pri/TB200QLDV-FC1J93U12/img_9462.jpg" alt="Trulli" width="500" height="333" ></center
  

  
  <br> </br> <br> </br> <br> </br> 
<p>Created By: Eliza Turco & Peyton Holubeck </p>
<br></br>
</body>
</html>