<!DOCTYPE html>
<html>
<head><link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel= "stylesheet"><link rel="stylesheet" type="text/css" href="/css/styles.css"></head>
</head>
<body>
  
<h1 id=head1 >Wishing Well</h1> 
<h1 id=head2>Information</h1> 

<!--    <style>-->
<!--ul {list-style-type: none;-->
<!--    margin: 0;-->
<!--    padding: 0;-->
<!--    overflow: hidden;-->
<!--    background-color:Grey;}-->

<!--li {float: left;}-->

<!--li a {display: block;-->
<!--    color: white;-->
<!--    text-align: center;-->
<!--    padding: 14px 16px;-->
<!--    text-decoration: none;-->
<!--    font-size:150%;}-->

<!--li a:hover { background-color: #111;}-->

<!--</style>-->
</head>
<body>
<div class ="topnav">
  <a href="./index.erb" style="float:center">Home</a>
  <a href="./information.erb" style="float:center">Information</a>
  <a href="./bio.erb" style="float:center">Biographies</a>
  <a href="./donate.erb" style="float:center">Donate</a>
  </div>
  
  <p><h3 id="infotitle">There is a wide variety of cancers, and they can be treated in different ways, including but not limited to:</h3><br></br></p>
  
  <p><h3 id="treatment4">
   <img id="drugs7" src="https://www.genomicseducation.hee.nhs.uk/images/images_for_blog_posts/Drugs.jpg">
    <br>
    <ul><a href= "https://www.cancer.gov/about-cancer/treatment/types/surgery">Surgery</a></ul>
    <ul><a href= "https://www.cancer.gov/about-cancer/treatment/types/chemotherapy">Chemotherapy</a></ul>
    <ul><a href="https://www.cancer.gov/about-cancer/treatment/types/radiation-therapy">Raditation</a></ul></li>
    <ul><a href="http://www.proton-therapy.org/howit.htm">Proton Therapy</a></ul>
  </h3></p>
<br></br>
  <p><h3 id="infoHeader">Common and Rare Cancers:</h3><br> 
  
  <h3 id=info> 
    <ul><a href= "https://www.hopkinsmedicine.org/neurology_neurosurgery/centers_clinics/brain_tumor/about-brain-tumors/index.html">Brain Tumor</a></ul>
    <ul><a href= "https://www.breastcancer.org/">Breast Cancer</a></ul>
    <ul><a href= "https://www.mayoclinic.org/diseases-conditions/cervical-cancer/symptoms-causes/syc-20352501">Cervical Cancer</a></ul>
    <ul><a href= "https://ocrfa.org/patients/about-ovarian-cancer/symptoms-and-detection/?gclid=Cj0KCQjw-o_bBRCOARIsAM5NbIPSL0_gkWcmoZ_a6bCy6meBSpUFIhMmaiG9NJVCDFqTZNbF_S3ux5UaAjmTEALw_wcB">Ovarian Cancer</a></ul>
    <ul><a href= "http://pancreatica.org/pancreatic-cancer/pancreatic-cancer-symptoms-and-signs/?gclid=Cj0KCQjw-o_bBRCOARIsAM5NbINrA30zctP5VhmSH4zeR8D7OsHTUcJ87LIDVjM_XREHIN3XxDPL5jQaAkHKEALw_wcB">Pancreatic Cancer</a></ul>
    <ul><a href= "https://www.mayoclinic.org/diseases-conditions/prostate-cancer/symptoms-causes/syc-20353087">Prostate Cancer</a></ul>
  </h3>


<br> </br> <br> </br> <br> </br> <br> </br> <br> </br> <br> </br> <br> </br>
<p>Created By: Eliza Turco & Peyton Holubeck</p>
<br></br>

</body>
</html>